.displayUsers {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.main-layout {
  width: 300px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.title-card {
  display: flex;
  justify-content: space-between;
}
.icon-modify{
    margin: auto;
}
.icon-modify-trash {
  color: #ff6666;
  padding: 5px;
}
.icon-modify-user {
  color: #3399ff;
  padding: 5px;
}
.submit-btn-secondary {
    padding: 10px 50px;
    color: #fff;
    border: none;
    background-color: #24a0ed;
    border-radius: 5px;
  }